* {
  font-family: 'Verdana', sans-serif;
}

body {
  background-color: #fcefee;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px 50px;
  padding-bottom: 200px;
}

.navbar {
  background-color: #482ff7;
}

.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}


.navbar-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: auto 0;
  color: #fff;
  display: flex;
  align-items: center;
}

.heading-title {
  text-align: left;
}


@media (max-width: 768px) {
  .heading-title {
    text-align: center;

  }

  .navbar-title {
    font-size: 5px;
  }
}

@media (max-width: 992px) {

  .navbar-title {
    font-size: 20px;
  }

  .footer-container {
    padding: 10px;
  }
}

.navbar-title img {
  width: 50px;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-nav > li {
  display: inline;
  margin-right: 10px;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}

.button {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #071a52;
  color: #fff;
  text-decoration: none;
  border-radius: 15px 0 15px 0;
  border: none;
  text-align: center; 
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #071e3d;
  color: #fff;
  text-decoration: none;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #482FF7;
  padding: 30px;
  color: #fff;
  border-radius: 15px 0 15px 0;
}

.form-left {
  margin: 0;
}

.form img {
  display: block;
  margin: auto;
  width: 150px;
}

.title {
  text-align: center;
}

.label,
.input {
  display: block;
  width: 100%;
}

.label {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 15px 0 15px 0;
}

.align-right {
  display: block;
  margin-left: auto;
}

.card {
  clear: both;
  position: relative;
  background-color: #faee1c;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card h4 {
  margin-bottom: -10px;
}

.card-button {
  position: absolute;
  top: 30px;
  right: 20px;
  left: auto;
  bottom: auto;
}

.daftar-acara {
  float: left;
}

.tambah-acara {
  float: right;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .daftar-acara {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .tambah-acara {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }

  .card-button {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 30px;
    right: 20px;

  } 
}

.belum-ada-acara {
  clear: both;
  text-align: center;
  margin-top: 50px;
}

.table-profile {
  clear: both;
  text-align: left;
}

.hr {
  border: none;
  border-bottom: 1px solid #071a52;
}

.clear {
  clear: both;
}

.form-cari {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.form-cari input {
  border: none;
  border-radius: 15px 0 0 0;
  height: 40px;
  margin: 0;
  padding: 10px;
}

.form-cari button {
  background-color: #071a52;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 0 0 15px 0;
  height: 40px;
  margin: 0;
  padding: 10px 20px;
}