* {
  font-family: 'Verdana', sans-serif;
}

body {
  background-color: #fcefee;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  padding-bottom: 100px;
}

.navbar {
  background-color: #482ff7;
}

.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

@media (max-width: 992px) {
  .footer-container {
    padding: 10px;
  }
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: auto 0;
  color: #fff;
  display: flex;
  align-items: center;
}

.navbar-title img {
  width: 50px;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-nav > li {
  display: inline;
  margin-right: 10px;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}

.button {
  padding: 10px 15px;
  background-color: #071a52;
  color: #fff;
  text-decoration: none;
  border-radius: 15px 0 15px 0;
  border: none;
  text-align: center; 
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #071e3d;
  color: #fff;
  text-decoration: none;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #482FF7;
  padding: 30px;
  padding-top: 5px;
  color: #fff;
  border-radius: 15px 0 15px 0;
}

.login-form img {
  display: block;
  margin: auto;
  width: 150px;
}

.login-title {
  text-align: center;
}

.login-label,
.login-input,
.login-button {
  display: block;
  width: 100%;
}

.login-label {
  margin-bottom: 10px;
}

.login-input {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 15px 0 15px 0;
}

.align-right {
  display: block;
  margin-left: auto;
}
